/* GENERAL */
h2 {
    color: #E34138;
}

/* HEADER */
.header {
    height: 100px;
    overflow: hidden;
    z-index: 10;
}
.logo {
    width: 100px;
}
.logo-img {
    width: 40%;
}
#navbar {
    margin: 0 0 0 60%;
}
.navbar-select {
    max-width: 200px;
    width: auto;
}

/* CENTRAL */
.background {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
}
#central {
    height: 600px;
    display: flex;
    align-items:center;
    justify-content:center;
} 
.title-command {
    margin-bottom: 20px;
    margin-top: 20px;
}
.command-resto {
    background-color: #fff;
    border-radius: 10px;
    min-height: 180px;
}
.command-button {
    margin: 0 0 30px 0;
}

/* FOOTER */
.footer {
    height: 100px;
}
.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}