<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>test</p>
                    </div>
                    <div class="col-md-4">
                        <p>test2</p>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
