{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block header %}
    <style type="text/css">
        .jumb
        {
            height: 650px !important;
            background-image: url("https://image.noelshack.com/fichiers/2019/26/4/1561649835-knack-t-sans-goutte.jpg");
            background-repeat: repeat-x;
            background-size: cover;
        }
    </style>
    <div class="container-fluid jumb">
        <div class="row">
            <div class="col-md-12 text-center text-white my-5">
                <h1>Viens rencontrer des knacks chaude pres de chez toi !!</h1>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-center">
                <img src="https://image.noelshack.com/fichiers/2019/26/4/1561650226-cuisine.png" alt="...">
            </div>
        </div>
        <div class="row justify-content-center backform">
            <form class="colorform py-3">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-5">
                        <input type="text" name="text" class="form-control" placeholder="Adresse">
                    </div>
                    <div class="col">
                        <a href="" class="btn btn-danger">Envoyer</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div id="carouselExampleControls" class="carousel slide mt-5" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck justify-content-center">
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck justify-content-center">
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-deck justify-content-center">
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                    <div class="mx-5">
                        <a href=""><img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container my-3">
        {% for i in 0..6 %}
            <div class="row my-3">
                <div class="col-md-7 col-sm-6 col-xs-6 text-center text-white card-body {%  if i is divisible by(2) %}order-last{%  endif %}">
                    <p>{{ nameResto[i] }}</p>
                    <p>{{ descriptions[i] }}</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 text-center back">
                    <div class="m-2"><img src="{{ logos[i] }}" alt="logo resto"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
