@import "~bootstrap/scss/bootstrap";

.bodyResto
{
  color: #313E3F;
  font-family: 'Josefin Slab', serif;
  background-color: #F2A391;
  background-repeat: repeat-x;
  background-size: cover;
}
body
{
  background-color: #484649;

}

.positionBonhomme {
  height: 40%;
  position : fixed;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}

.colorform
{
  background-color: black;
  border-radius: 20px;
  opacity: 0.5;
}
.navbar
{
  background-color: #313E3F !important;
  position: fixed;
  width: 100%;
  z-index: 150;
  //opacity: 1 !important;
}

.back
{
  background-color: black !important;
  opacity: 0.5 !important;
  border: solid 0.3em;
  border-color: red;
  height: 100%;
}

.info-Resto {
  background-color: #FFFFFF;
}

footer
{
  height: 100px;
  background-color: black !important;
  opacity: 0.5 !important;
}