@import "~bootstrap/scss/bootstrap";

body
{
  color: #313E3F;
  font-family: 'Josefin Slab', serif;
  background-color: #F2A391;
  background-repeat: repeat-x;
  background-size: cover;
}

.positionBonhomme {
  height: 40%;
  position : fixed;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}

.colorform
{
  background-color: black;
  border-radius: 20px;
  opacity: 0.5;
}
.navbar
{

  background-color: #313E3F !important;
  position: fixed;
  width: 100%;
  z-index: 150;


.back
{
  background-color: black !important;
  opacity: 0.5 !important;
  border: solid 0.3em;
  border-color: red;
  height: 100%;
}

.info-Resto {
  background-color: #FFFFFF;
}

footer
{
  height: 100px;
  background-color: black !important;
  opacity: 0.5 !important;
}
@media screen and (min-width: 200px) and (max-width: 1040px) {
  .imgjumb,.positionBonhomme {
    display:none;
  }
  .boutjumb {
    margin-right: 150px;
  }
}
.boutjumb{
  margin-top: 15% !important;
}
.btn{
  background-color: #F2A391 !important;
}
.h1{
  font-size: 50px;
}