@import "~bootstrap/scss/bootstrap";

body
{
  background-image: url("https://image.noelshack.com/fichiers/2019/26/4/1561640928-body.png");
  background-repeat: repeat-x;
  background-size: cover;
}

.colorform
{
  background-color: black;
  border-radius: 20px;
  opacity: 0.5;
}
.navbar
{
  background-color: black !important;
  opacity: 0.5 !important;
}
.back
{
  background-color: black !important;
  opacity: 0.5 !important;
  border: solid 0.3em;
  border-color: red;
  height: 100%;
}
footer
{
  height: 200px;
  background-color: black !important;
  opacity: 0.5 !important;
}